<table cellpadding="0" cellspacing="0" style="border:0;border-collapse:collapse;width:100%;height:auto;max-height:400px;text-align:center;margin:0 auto;background:#eee;border-spacing:0">
    <tbody>
        <tr>
            <td align="center" style="background-color:#fff;background-image:url(http://ciceron.me/img/3_1.jpg);background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:90px;">
                <!--                http://ciceron.me/img/3_1.jpg-->
                <table cellpadding="0" cellspacing="0" style="text-align:center;border:0;width:100%;max-width:600px!important;border-spacing:0;">
                    <tbody style="display:table-row-group;vertical-align:middle;border-color:inherit">
                        <tr style="display:table-row;vertical-align:inherit;border-color:inherit">
                            <td>
                                <table style="min-width:100%;border-collapse:collapse">
                                    <tbody style="display:table-row-group;vertical-align:middle;border-color:inherit">
                                        <tr style="display:table-row;vertical-align:inherit;border-color:inherit">
                                            <td style="padding:9px">
                                                <table style="min-width:100%;border-collapse:collapse">
                                                    <tbody style="display:table-row-group;vertical-align:middle;border-color:inherit">
                                                        <tr style="display:table-row;vertical-align:inherit;border-color:inherit">
                                                            <td style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">
                                                                <img src="http://ciceron.me/img/logo-white.png" style="width:80%;max-width:500px;padding-bottom:0;padding:20px;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none;margin-bottom:100px;" tabindex="0">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td align="center" valign="top">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:90%;max-width:1200px;height:auto;background:#fff;text-align:center;margin-top:30px">
                                    <tbody>
                                        <tr>
                                            <td valign="top" width="100%">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" valign="top">
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="center" valign="top" style="padding-top:50px">
                                                                                <h1 style="color:#222;font-size:2.8em">{main_text}</h1>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="center" valign="top" style="padding-bottom:40px">
                                                                                <h2 style="color:#222;font-size:1.5em;font-weight:400">{sub_text}</h2>
                                                                            </td>
                                                                        </tr>


                                                                        <tr>
                                                                            <td align="left" valign="top" style="padding-bottom:30px">
                                                                                <table align="center" cellpadding="0" cellspacing="0" style="width:95%;max-width:700px;margin:0 auto;border-top:2px solid #222;border-bottom:2px solid #222;color:#222;border-collapse:collapse;font-size:100%">
                                                                                    <tbody style="display:table-row-group;vertical-align:middle;border-color:inherit">


                                                                                        <tr style="display:table-row;vertical-align:inherit;width:100%;border-bottom:1px solid #d8d8d8;text-align:left">
                                                                                            <th style="width:25%;background:#e7e7e7;padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:20px">E-mail</th>
                                                                                            <td style="padding-left:20px;padding-top:15px;padding-bottom:15px"><a href="mailto:{email}" target="_blank">{email}</a></td>
                                                                                        </tr>



                                                                                        <tr style="display:table-row;vertical-align:inherit;width:100%;border-bottom:1px solid #d8d8d8;text-align:left">
                                                                                            <th style="width:25%;background:#e7e7e7;padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:20px">성함</th>
                                                                                            <td style="padding-left:20px;padding-top:15px;padding-bottom:15px">{name}</td>
                                                                                        </tr>



                                                                                        <tr style="display:table-row;vertical-align:inherit;width:100%;border-bottom:1px solid #d8d8d8;text-align:left">
                                                                                            <th style="width:25%;background:#e7e7e7;padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:20px">Message</th>
                                                                                            <td style="padding-left:20px;padding-top:15px;padding-bottom:15px">{message}</td>
                                                                                        </tr>



                                                                                        <tr style="display:table-row;vertical-align:inherit;width:100%;border-bottom:1px solid #d8d8d8;text-align:left">
                                                                                            <th style="width:25%;background:#e7e7e7;padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:20px">요청언어</th>
                                                                                            <td style="padding-left:20px;padding-top:15px;padding-bottom:15px">{original_language} -> {target_language}</td>
                                                                                        </tr>



                                                                                        <tr style="display:table-row;vertical-align:inherit;width:100%;border-bottom:1px solid #d8d8d8;text-align:left">
                                                                                            <th style="width:25%;background:#e7e7e7;padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:20px">마감일</th>
                                                                                            <td style="padding-left:20px;padding-top:15px;padding-bottom:15px">{deadline_date}</td>
                                                                                        </tr>



                                                                                        <tr style="display:table-row;vertical-align:inherit;width:100%;border-bottom:1px solid #d8d8d8;text-align:left">
                                                                                            <th style="width:25%;background:#e7e7e7;padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:20px">글자수</th>
                                                                                            <td style="padding-left:20px;padding-top:15px;padding-bottom:15px">{text_counter} 자</td>
                                                                                        </tr>



                                                                                        <tr style="display:table-row;vertical-align:inherit;width:100%;border-bottom:1px solid #d8d8d8;text-align:left">
                                                                                            <th style="width:25%;background:#e7e7e7;padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:20px">쿠폰</th>
                                                                                            <td style="padding-left:20px;padding-top:15px;padding-bottom:15px">{coupon}</td>
                                                                                        </tr>
                                                                                        
                                                                                        <tr style="display:table-row;vertical-align:inherit;width:100%;border-bottom:1px solid #d8d8d8;text-align:left">
                                                                                            <th style="width:25%;background:#e7e7e7;padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:20px">파일</th>
                                                                                            <td style="padding-left:20px;padding-top:15px;padding-bottom:15px">{filename}</td>
                                                                                        </tr>


                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>






                                                                        <tr>
                                                                            <td align="center" valign="top" style="padding-bottom:20px">
                                                                                <p style="color:#000;font-size:1em;width:90%;max-width:840px;padding:0;margin:0 auto;margin-top:60px;margin-bottom:80px;line-height:24px;word-break:break-all;text-align:center">
                                                                                    {mail_text}
                                                                                </p>
                                                                            </td>
                                                                        </tr>



                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td style="padding-top:50px;padding-bottom:26px;padding-right:15px;padding-left:15px">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="font-size:0.7em;line-height:16px;color:#606060;text-align:center">
                                    <tbody>
                                        <tr>
                                            <td style="padding-bottom:10px">
                                                <table align="center" cellpadding="0" cellspacing="0" border="0" style="font-size:0.8em;line-height:10px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center">
                                                                <div>
                                                                    <p style="margin-top:0;margin-right:0;margin-left:0;margin-bottom:4px">
                                                                        <a href="http://blog.ciceron.me/" style="text-decoration:none;padding-right:20px;padding-left:20px;margin-bottom:20px" target="_blank"><img src="http://ciceron.me/img/blog_1.png" title="facebook" alt="facebook" style="max-width:32px;height:auto;border:0;outline:none;text-decoration:none;width:80%"></a>
                                                                    </p>
                                                                </div>
                                                            </td>
                                                            <td align="center">
                                                                <div>
                                                                    <p style="margin-top:0;margin-right:0;margin-left:0;margin-bottom:4px">
                                                                        <a href="https://www.facebook.com/ciceronmate/" style="text-decoration:none;padding-right:20px;padding-left:20px;margin-bottom:20px" target="_blank"><img src="http://ciceron.me/img/facebook-logo.png" title="facebook" alt="facebook" style="max-width:32px;height:auto;border:0;outline:none;text-decoration:none;width:80%"></a>
                                                                    </p>
                                                                </div>
                                                            </td>
                                                            <td align="center">
                                                                <div>
                                                                    <p style="margin-top:0;margin-right:0;margin-left:0;margin-bottom:4px">
                                                                        <a href="https://www.instagram.com/ciceron_mate/" style="text-decoration:none;padding-right:20px;padding-left:20px;margin-bottom:20px" target="_blank"><img src="http://ciceron.me/img/instagram-logo.png" title="instagram" alt="instagram" style="max-width:32px;height:auto;border:0;outline:none;text-decoration:none;width:80%"></a>
                                                                    </p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <p style="margin:20px 0 5px 0"><span style="font-size:1em;color:#7b7c80"><strong>번역의뢰를 하신 적이 없으신가요? </strong>&nbsp;씨세론으로 문의주세요.<br><span style="color:#606060"><a href="mailto:chingoo@ciceron.me" style="color:#7b7c80" target="_blank">chingoo@ciceron.me</a> / <a href="tel:+82264413838" style="color:#7b7c80" target="_blank">+82-2-6441-3838</a></span></span>
                                                    </p>
                                                    <p style="margin:10px 0 4px 0"><span style="font-size:1em;color:#7b7c80!important">1508, CKL Corporate Support Center, <br>40, Cheonggyecheon-ro, Jung-gu, <br>Seoul, Republic of Korea</span></p>
                                                    <p style="margin:20px 0 4px 0"><span style="font-size:1m;color:#7b7c80">본 메일은 회원님의 동의 하에 씨세론에서 발송한 발신전용 메일입니다.</span></p>

                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

